* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 3rem;
    padding: 3rem 0.5rem 0 0.5rem;
    margin: auto;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h1 {
    text-align: center;
}