@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-base: #191724;
    --color-surface: #1f1d2e;
    --color-overlay: #26233a;
    --color-muted: #6e6a86;
    --color-subtle: #908caa;
    --color-text: #e0def4;

    --color-love: #eb6f92;
    --color-gold: #f6c177;
    --color-rose: #ebbcba;
    --color-pine: #31748f;
    --color-foam: #9ccfd8;
    --color-iris: #c4a7e7;

    --color-highlight-low: #21202e;
    --color-highlight-med: #403d52;
    --color-highlight-high: #524f67;
}

* {
    box-sizing: border-box;
}

title::after {
    content: " 🌱";
}

body {
    line-height: 1.5;
    font-family: "Fira Sans", system-ui;
    color: var(--color-text);
    background: var(--color-base);
}

main {
    padding: 10rem 1rem;
    margin: auto;
    max-width: 40rem;
}

a,
a:visited {
    color: var(--color-foam);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a[href^="http"]::after {
    content: " ↗";
}

blockquote {
    margin-left: 0;
    padding-left: 1rem;
    border-left: 0.4rem solid var(--color-subtle);
    font-style: italic;
}

code,
kbd {
    padding: 1px 3px;
    border-radius: 3px;
    background-color: var(--color-overlay);
}

pre {
    white-space: pre-wrap;
}

pre code {
    display: block;
    padding: 1rem;
    width: 100%;
    background-color: var(--color-surface);
}

kbd {
    display: inline-block;
    min-width: 1.3rem;
    text-align: center;
    border: 1px solid var(--color-overlay);
    font-weight: bold;
    box-shadow: 1px 1px 0 0 var(--color-subtle);
}

hr {
    margin: 3rem 0 1.5rem 0;
    border: none;
    border-top: 1px solid var(--color-overlay);
}