:root {
    --rem: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: calc(4.5 * var(--rem));
    scrollbar-color: var(--color-foreground) var(--color-surface);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    overflow-y: scroll;
    overflow-wrap: break-word;
    background: var(--color-background);
    font-family: var(--font);
    font-size: var(--body-md);
    line-height: 1.5;
    color: var(--color-foreground);
}

::selection {
    color: var(--color-background);
    background-color: var(--color-foreground);
}

:focus {
    outline: 2px solid var(--color-foreground);

    &:not(:focus-visible) {
        outline: none;
    }
}
