* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: var(--color-foreground);
}

::selection {
    color: var(--color-background);
    background-color: var(--color-foreground);
}

:focus {
    outline: 2px solid var(--color-foreground);
}

:focus:not(:focus-visible) {
    outline: none;
}
