code,
kbd {
    padding: 2px var(--spacing-2xs);
    background-color: var(--color-overlay);
    font-size: calc(var(--body-sm) / 1.035);
    font-family: var(--font-monospace);
}

pre {
    border: var(--border-md);
    overflow-x: auto;

    & code {        
        display: block;
        background-color: transparent;
        padding: var(--spacing-md);

        & .line {
            padding-right: var(--spacing-md);
        }
    }
}

kbd {
    font-weight: 700;
    box-shadow: 1px 1px 0 0 var(--color-foreground);
}
