code {
    font-family: var(--font-mono);
    font-size: var(--body-sm);
}

pre {
    overflow-x: auto;

    & code {        
        display: block;
        background-color: transparent;
        padding: var(--spacing-md);

        & .line {
            padding-right: var(--spacing-md);
        }
    }
}

kbd {
    font-weight: var(--weight-bold);
}

.astro-code,
.astro-code span {
    background-color: var(--color-surface) !important;
}


@media (prefers-color-scheme:dark) {
    .astro-code,
    .astro-code span {
        color: var(--shiki-dark) !important;
    }
}
