code,
kbd {
    padding: 2px var(--spacing-2xs);
    border-radius: var(--border-radius-sm);
    background-color: var(--color-overlay);
    font-size: var(--body-xs);
    font-family: var(--font-mono);
    vertical-align: middle;
}

pre {
    background-color: transparent !important;
}

pre code {
    overflow: auto;
    background-color: var(--color-surface);
    display: block;
    padding: var(--spacing-md);
    border-radius: var(--border-radius-xs);
    border: 1px solid var(--color-foreground);
}

kbd {
    min-width: 1.3rem;
    text-align: center;
    font-weight: 700;
    box-shadow: 1px 1px 0 0 var(--color-foreground);
}

span[style^="color:var(--astro-code-token-keyword)"] {
    font-weight: 700;
}

span[style^="color:var(--astro-code-token-function)"] {
    font-weight: 700;
}

span[style^="color:var(--astro-code-token-comment)"] {
    font-style: italic;
}
