:root {
    --font: "Iosevka", mono;
}

@font-face {
   font-family: "Iosevka";
   src: url("/fonts/iosevka-400-monospace.woff2") format("woff2");
   font-weight: 400;
   font-style: monospace;
   font-display: swap; 
}

@font-face {
   font-family: "Iosevka";
   src: url("/fonts/iosevka-700-monospace.woff2") format("woff2");
   font-weight: 700;
   font-style: monospace;
   font-display: swap; 
}
