:root {
    --font: "Iosevka", mono;
    --weight-normal: 400;
    --weight-bold: 900;
}

@font-face {
   font-family: "Iosevka";
   src: url("/fonts/iosevka-400-monospace.woff2") format("woff2");
   font-weight: 400;
   font-style: monospace;
   font-display: swap; 
}

@font-face {
   font-family: "Iosevka";
   src: url("/fonts/iosevka-900-monospace.woff2") format("woff2");
   font-weight: 900;
   font-style: monospace;
   font-display: swap; 
}
