a,
a:visited {
    font-weight: 700;
    text-decoration-thickness: 1.5px;
    transition: all 0.15s;

    &:hover {
        text-decoration: none;
        background-color: var(--color-foreground);
        box-shadow: none;
        color: var(--color-background);

        code, kbd, em, strong, sup, sub, del {
            background-color: transparent;
            color: var(--color-background);
        }

        & kbd {
            box-shadow: none;
        }
    }

    &[href^="http"] {
        &::after {
            content: "";
            background-color: var(--color-foreground);
            width: var(--body-sm);
            height: var(--body-sm);
            display: inline-block;
            mask: url("/images/external-link.svg");
            -webkit-mask: url("/images/external-link.svg");
        }

        &:hover::after {
            background-color: var(--color-background);
        }
    }

    &[href^="#"]:not([href^="#user-content-fn"])::before {
        content: "§";
    }

    &[href^="#user-content-fn"] {
        text-decoration: none;

        &:not([href^="#user-content-fnref"]) {
            &::before {
                content: "[";
            }

            &::after {
                content: "]";
            }
        }
    }
}
