a,
a:visited {
    font-weight: 700;

    &:hover {
        text-decoration: none;
        background-color: var(--color-foreground);
        color: var(--color-background);

        code, kbd, em, strong, sup, sub, del {
            color: var(--color-background);
        }
    }

    &[href^="http"] {
        &::after {
            content: "⬈ ";
            display: inline-block;
        }
    }

    &[href^="#"]:not([href^="#user-content-fn"])::before {
        content: "§";
    }

    &[href^="#user-content-fn"] {
        text-decoration: none;

        &:not([href^="#user-content-fnref"]) {
            &::before {
                content: "[";
            }

            &::after {
                content: "]";
            }
        }
    }
}
