ol,
ul {
    padding-left: var(--layout-sm);
}

ul {
    list-style-type: "» ";
}

main li {
    padding-left: var(--spacing-sm);
}

li::marker {
    font-weight: 700;
    font-size: var(--body-sm);
}

ol {
    list-style-type: decimal-leading-zero;

}
