blockquote {
    padding: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-md);
    border-left: var(--spacing-sm) solid var(--color-foreground);
}

em,
blockquote p {
    font-style: italic;
}

hr {
    margin: var(--spacing-lg) 0 var(--spacing-md);
    border: 1px solid var(--color-foreground);
}

ol,
ul {
    padding-left: var(--spacing-lg);
}

p:not(:last-child),
ol:not(:last-child),
ul:not(:last-child),
blockquote:not(:last-child),
table:not(:last-child),
pre:not(:last-child) {
    margin-bottom: var(--spacing-md);
}
