:root {
    --border-sm: 0.5px solid var(--color-foreground);
    --border-md: 1.5px solid var(--color-foreground);
}

blockquote {
    padding: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-md);
    border-left: var(--spacing-sm) solid var(--color-foreground);
}

em,
blockquote p {
    font-style: italic;
}

hr {
    margin: var(--spacing-lg) 0 var(--spacing-md);
    border: var(--border-md);
}

:is(p, ol, ul, blockquote, table, pre):not(:last-child) {
    margin-bottom: var(--spacing-md);
}
