:root {
    --alphabet-navigation-letter-size: 2.9rem;    
}

.navigation-card {
    text-decoration: none;
    background-color: var(--color-surface);
    transition: all 0.15s;
    border: var(--border-md);

    &:hover {
        background-color: var(--color-overlay);
    }

    @media (prefers-reduced-motion: no-preference) {
        &:hover {
            transform: translateY(-2px);
        }
    }
}
