@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Slab:wght@100..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Rose Pine Dawn */
:root {
    /* pine */
    --color-primary: #286983;

    --color-base: #faf4ed;
    --color-surface: #fffaf3;
    --color-overlay: #f2e9e1;
    --color-text: #575279;
    --font-primary: "Roboto Slab", serif;
    --font-secondary: "Zilla Slab", serif;
    --font-mono: "Jetbrains Mono", monospace;
}

/* Rose Pine */
@media (prefers-color-scheme:dark) {
    :root {
        /* foam */
        --color-primary: #9ccfd8;

        --color-base: #191724;
        --color-surface: #1f1d2e;
        --color-overlay: #26233a;
        --color-text: #e0def4;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    white-space: nowrap;
}

body {
    margin: auto;
    padding: 5rem 1rem 0 1rem;
    max-width: 62.5ch;
    color: var(--color-text);
    background: var(--color-base);
    hyphens: auto;
    line-height: 1.5;
    font-family: var(--font-primary);
}

main {
    padding: 3rem 0 10rem 0;
}

h1 {
    font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
    margin: 2rem 0 1rem 0;
    line-height: 1.2;
}

a,
a:visited {
    color: var(--color-primary);
    text-decoration: none;
}

a:not(nav a) {
    font-weight: 600;
}

header {
    position: sticky;
    padding: 1rem 0;
    top: 0;
    background-color: var(--color-base);
}

nav a,
nav a:visited {
    color: var(--color-text);

}

nav ol {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    user-select: none;
    font-family: var(--font-secondary);
    font-size: 1.175rem;
    font-weight: 500;
}

nav ol li:not(:last-child)::after {
    padding: 0.7rem;
    content: '/';
}

ol,
ul {
    padding-left: 2rem;
}

p,
ol,
ul,
blockquote,
pre code {
    margin-bottom: 1rem;
}

blockquote {
    padding-left: 1rem;
    border-left: 0.4rem solid var(--color-primary);
}

em,
blockquote p {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 1.125rem;
    font-style: italic;
}

nav ol li:last-child {
    font-style: italic;
}

hr {
    margin: 3rem 0 1.5rem 0;
    border: 1px solid var(--color-overlay);
}

code {
    font-size: 0.8rem;
}

code,
kbd {
    padding: 0 0.25rem;
    display: inline-block;
    border-radius: 3px;
    background-color: var(--color-overlay);
    font-family: var(--font-mono);
}

code.lang-sh::before {
    content: "$ ";
    color: var(--color-primary);
    font-weight: bold;
}

pre {
    white-space: pre-wrap;
}

pre code {
    padding: 1rem;
    display: block;
    font-size: 0.85rem;
    background-color: var(--color-surface);
}

kbd {
    min-width: 1.3rem;
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 1px 0 0 var(--color-text);
    font-size: 0.85rem;
}

.seedling::before,
.budding::before,
.evergreen::before {
    padding-right: 0.4rem;
}

.seedling::before {
    content: url("svg/seedling.svg");
}

.budding::before {
    content: url("svg/budding.svg");
}

.evergreen::before {
    content: url("svg/evergreen.svg");
}

a[href^="http"]::after {
    content: url("svg/external-link.svg");
}

a[href^="#"]:not([href^="#footnote-"])::before {
    content: "ยง";
}

a:not(nav a):not(sup a):not([href^="http"])::before {
    padding-right: 0.2rem;
    content: url("svg/evergreen.svg");
}
