@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /* Mozilla Black */
    --color-foreground: #000;
    /* Mozilla White */
    --color-background: #fff;
    /* Mozilla Light Gray 10 */
    --color-surface: #f9f9fb;
    /* Mozilla Light Gray 20 */
    --color-overlay: #f0f0f4;

    --font-primary: "Roboto Slab", serif;
    --font-secondary: "Zilla Slab", serif;
    --font-mono: "JetBrains Mono", monospace;
}

@media (prefers-color-scheme:dark) {
    :root {
        /* Mozilla Light Gray 40 */
        --color-foreground: #cfcfd8;
        /* Mozilla Black */
        --color-background: #000;
        /* Mozilla Dark Gray 80 */
        --color-surface: #1c1b22;
        /* Mozilla Dark Gray 70 */
        --color-overlay: #2b2a33;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: var(--color-foreground);
}

body {
    overflow-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    margin: auto;
    max-width: 60ch;
    background: var(--color-background);
    line-height: 1.5;
    font-size: 1.125rem;
    font-family: var(--font-primary);
}

main {
    padding-bottom: 10rem;
}

header {
    position: sticky;
    padding: 1rem 0;
    margin: 5rem 0;
    background-color: var(--color-background);
    top: 0;
}

nav ol {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    user-select: none;
    -webkit-user-select: none;
    font: 500 1.175rem var(--font-secondary);
}

nav ol li:not(:last-child)::after {
    padding: 0 0.7rem;
    content: "/";
}

nav ol li:last-child {
    font-style: italic;
}

nav a {
    text-decoration: none;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2rem 0 1rem 0;
    font-family: var(--font-secondary);
    line-height: 1.2;
}

h1 {
    font-size: 2.25rem;
}

:focus {
    outline: 2px solid var(--color-foreground);
}

:focus:not(:focus-visible) {
    outline: none;
}

a,
a:visited {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

ol,
ul {
    padding-left: 2rem;
}

p,
ol,
ul,
blockquote,
pre code {
    margin-bottom: 1rem;
}

blockquote {
    padding-left: 1rem;
    border-left: 0.4rem solid var(--color-foreground);
}

em,
blockquote p {
    font: italic 500 1.225rem var(--font-secondary);
}


hr {
    margin: 3rem 0 1.5rem;
    border: 1px solid var(--color-foreground);
}

code,
kbd {
    padding: 0 0.25rem;
    display: inline-block;
    border-radius: 5px;
    background-color: var(--color-overlay);
    font: 0.9rem var(--font-mono);
}

code.lang-sh::before {
    content: "$ ";
    font-weight: 800;
}

pre {
    white-space: pre-wrap;
}

pre code {
    padding: 1rem;
    display: block;
    border-radius: 2px;
    background-color: var(--color-surface);
}

kbd {
    min-width: 1.3rem;
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 1px 0 0 var(--color-foreground);
    font-size: 0.85rem;
}

.seedling::before,
.budding::before,
.evergreen::before {
    padding-right: 0.4rem;
}

.seedling::before {
    content: url("svg/seedling.svg");
}

.budding::before {
    content: url("svg/budding.svg");
}

.evergreen::before {
    content: url("svg/evergreen.svg");
}

a[href^="http"]::after {
    content: url("svg/external-link.svg");
}

a[href^="#"]:not([href^="#footnote-"])::before {
    content: "§";
}

a:not(nav a):not(sup a):not([href^="http"])::before {
    padding-right: 0.2rem;

}

#overview {
    margin-top: 2rem;
    display: grid;
    padding: 0;
    gap: 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    list-style: none;
}

#overview li a {
    background-color: var(--color-surface);
    color: var(--color-foreground);
    font: bold 1.1rem var(--font-secondary);
    padding: 0.85rem;
    display: block;
    transition: all 0.15s;
    text-decoration: none;
    border-radius: 2px;
}

#overview li a::before {
    content: "";
}

#overview li a:hover {
    background-color: var(--color-overlay);
}