table {
    border: var(--border-md);
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: var(--spacing-sm);
    background-color: var(--color-foreground);
    color: var(--color-background);
    border: var(--border-md);
}

th:not(:last-child) {
    border-right: 1.5px solid var(--color-background);
}

td {
    padding: var(--spacing-xs);
    border: var(--border-sm);
}
