table {
    border: var(--border-md);
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: var(--spacing-sm);
    background-color: var(--color-foreground);
    color: var(--color-background);

    &:not(:last-child) {
        border-right: var(--border-md-inverted);
    }
}

td {
    padding: var(--spacing-xs);
    border: var(--border-sm);
}
