:root {
    --title-sm: calc(var(--body-md) * 1.4);
    --title-md: calc(var(--title-sm) * 1.4);
    --title-lg: calc(var(--title-md) * 1.4);

    --body-xs: calc(var(--body-sm) / 1.125);
    --body-sm: calc(var(--body-md) / 1.125);
    --body-md: 1.125rem;
    --body-lg: calc(var(--body-md) * 1.125);
}

h1, h2, h3 {
    font-weight: 900;
    margin: calc(2 * var(--body-md)) 0 var(--body-md) 0;
    line-height: 1;
    hyphens: none;
}

h3 {
    font-size: var(--title-sm);
    line-height: 1.2;
}

h1 {
    font-size: var(--title-lg);
}

h2 {
    font-size: var(--title-md);
}

p {
    text-align: justify;
}

@media screen and (max-width: 450px) {
    :root {
        --body-md: 1rem;        
    }

    h1 {
        font-size: var(--title-md);
    }

    h2 {
        font-size: var(--title-sm);
    }

    h3 {
        font-size: var(--body-lg);
    }

    p {
        text-align: start;
    }
}
