:root {
    --title-sm: calc(1.05 * var(--body-md));
    --title-md: calc(1.2 * var(--body-md));
    --title-lg: calc(1.5 * var(--body-md));

    --body-sm: calc(var(--body-md) / 1.125);
    --body-md: calc(1.1 * var(--rem));
    --body-lg: calc(var(--body-md) * 1.125);
}

h1, h2, h3 {
    margin: calc(2 * var(--body-md)) 0 var(--body-md) 0;
    font-weight: var(--weight-bold);
    line-height: 1;
}

h1 {
    font-size: var(--title-lg);
}

h2 {
    font-size: var(--title-md);
}

h3 {
    font-size: var(--title-sm);
    line-height: 1.2;
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: var(--title-md);
    }

    h2 {
        font-size: var(--title-sm);
    }

    h3 {
        font-size: var(--body-lg);
    }
}
