:root {
    --color-foreground: #000;
    --color-background: #fff;
    --color-surface: #f8f8fa;
    --color-overlay: #efeff3;

    --border-radius-xs: 2px;
    --border-radius-sm: 3px;
    --border-radius-md: 5px;

    --spacing-2xs: calc(var(--spacing-xs) / 1.618);
    --spacing-xs: calc(var(--spacing-sm) / 1.618);
    --spacing-sm: calc(var(--spacing-md) / 1.618);
    --spacing-md: var(--body-md);
    --spacing-lg: calc(var(--spacing-md) * 1.618);

    --layout-md: 3rem;
    --layout-lg: 4rem;
    --layout-xl: 6rem;
    --layout-2xl: 12rem;

    --title-sm: calc(var(--body-md) * 1.4);
    --title-md: calc(var(--title-sm) * 1.4);
    --title-lg: calc(var(--title-md) * 1.4);

    --body-xs: calc(var(--body-sm) / 1.125);
    --body-sm: calc(var(--body-md) / 1.125);
    --body-md: 1rem;
    --body-lg: calc(var(--body-md) * 1.125);

    --font-primary: "Source Serif Pro", serif;
    --font-heading: "Playfair Display", serif;
    --font-mono: "Courier Prime", monospace;
}

@media (prefers-color-scheme:dark) {
    :root {
        --color-foreground: #fff;
        --color-background: #000;
        --color-surface: #1f1e25;
        --color-overlay: #2e2d36;
    }
}
