---
import Layout from "../layouts/Layout.astro"
---
<Layout title="404 Not Found" maturity="evergreen">
    <h1>404 Not Found 🌱</h1>
    <p>It looks like this idea is not planted yet...</p>
    <p>Go back to the <a href="overview.html">overview</a> to see all available <a href="plant.html">plants</a>.
</Layout>