---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Plant Not Found" h1="Plant Not Found!">
<p>
    It looks like this idea is not planted yet... <br>
    Go back to the <a href="/garden">overview</a>
    to see all available <a href="garden/plant">plants</a>.
</p>
</Layout>
