---
import Layout from "../layouts/Layout.astro"
---

<Layout 
    title="Note Not Found"
    description="The fallback page for notes that do not exist yet."
>
    <p>
        It looks like this note is not created yet...<br>
        Go back to the <a href="/notes">note overview</a>
        to see all available notes.
    </p>
</Layout>
