---
import Layout from "../layouts/Layout.astro"
const title = "Note Note Found";
---

<Layout 
    title={title}
    description="The fallback page for notes that do not exist yet."
>
    <h1>{title}</h1>
    <p>
        It looks like this note is not created yet...<br>
        Go back to the <a href="/notes">note overview</a>
        to see all available notes.
    </p>
</Layout>
