---
import Layout from "../layouts/Layout.astro"
const title = "Note not found!";
---

<Layout 
    title={title}
    description="The fallback page for notes that do not exist (yet)"
>
    <h1>{title}</h1>
    <p>
        It looks like this not does not exit (yet)...<br>
        Go back to the <a href="/notes">note collection</a> to see all available notes.
    </p>
</Layout>
