---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Branch" maturity="budding">
<p>
  A <a href="git.html">Git</a> branch is a path of one or more <a href="commit.html">commits</a>.
  Different branches allow developers to work on the same piece of code in isolated environments.
</p>
<p>
  When working alone on a small project a single <code>main</code> branch works perfect most of the time.
  Add a new <code is:raw>feat/{feature-name}</code> branch when it is desired to test in isolation or when
  doing an entire project refactoring.
</p>
<p>
  Use <code>lower-kabab-case</code> for naming branches, and use an underscore <code>_</code>
  for including an issue indentifier in the branch name:
</p>
<pre><code>feat/add-primary-navigation-component_#29</code></pre>
<p>or for <a href="https://www.atlassian.com/software/jira">Jira</a> tickets:
<pre><code>fix/navigation-overflow-on-mobile_APP-43</code></pre>
<p>
  A single feature branch should ideally only solve one issue,
  so adding an issue identifier should work most of the time.
</p>
<p>
  It is perfectly fine to have a long branch name.
  A more descriptive name is always better.
  <a href="bash.html">Bash</a>, <a href="zsh.html">Zsh</a> and other shells have branch autocompletion for
  git branches and for graphical interfaces the branch name length does not matter either.
</p>
</Layout>
