---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Color scheme" maturity="budding">
<p>
    A CSS color scheme for websites should be stored in CSS variables.
    Usually the variables for the color scheme are stored in the <code>:root</code> pseudo-class:
</p>
<pre><code is:raw>:root {
    --color-text: black;
    --color-base: white;
}
</code></pre>
<p>Now everywhere in the stylesheet the <code>--color-text</code> can be accessed with <code>var(--color-text)</code>:</p>
<pre><code is:raw>p {
    color: var(--color-text);
}
</code></pre>
<h2>Color scheme based on browser preference</h2>
<p>
    Users express their color scheme preference by toggling light or dark mode (or 'automatic') in their browser settings.
    The <code>prefers-color-scheme</code> CSS media feature detects if a light or dark color scheme is preferred<sup><a href="#footnote-1">[1]</a></sup>.
    The media feature can be leveraged to overwrite the CSS variables that store the color scheme
    colors<sup><a href="#footnote-2">[2]</a></sup>:
</p>
<pre><code is:raw>@media (prefers-color-scheme:dark) {
    :root {
        --color-text: white;
        --color-base: black;
    }
}
</code></pre>
<p>The same media feature can be used inside HTML to load a dark or light favicon based on the color scheme preference:</p>
<pre><code>&lt;head&gt;
    &lt;link
        rel="icon"
        href="favicon-black.ico"
        media="(prefers-color-scheme: light)"
    &gt;
    &lt;link
        rel="icon"
        href="favicon-white.ico"
        media="(prefers-color-scheme: dark)"
    &gt;
&lt;/head&gt;
</code></pre>
<p>The black favicon is used when light mode is preferred and the white favicon is used when dark mode is preferred.</p>

<hr>
<ol>
    <li id="footnote-1">
        This is explained in detail at the
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme">MDN web docs</a>.
    </li>
    <li id="footnote-2">
        This also works inside <code>&lt;style&gt;</code> tags in SVG files.
    </li>

</ol>
</Layout>
