---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Commit (Git)" maturity="budding">
<p>
  A commit is a snapshot of a <a href="git.html">Git</a> repository.
  Commits should be short, ideally representing an <a href="atomic.html">atomic</a> change.
</p>

<h2>Commit message</h2>
<p>
  A commit message can have a short summary, and an optional longer explanation after an empty line.
  Do not use emoji's in commit messages like
  <a href="https://gitmoji.dev/">the gitmoji project</a> tries to achieve. 
  Emojis do not provide any benefit to the commit message.
  There are still a lot of tools that lack proper emoji support.
  It is also way more difficult to filter or search commit messages when they use emojis for categorizing commits.
</p>
<p>Use the following prefixes for commit message titles:</p>
<ul>
  <li><code>feat:</code> for new functionality.</li>
  <li><code>fix:</code> for reworking existing code to solve bugs.</li>
  <li><code>refact:</code> for refactoring code.</li>
  <li><code>docs:</code> for adding documentation.</li>
  <li><code>test:</code> for adding or fixing tests.</li>
  <li><code>bump:</code> for incrementing version numbers of dependencies.</li>
</ul>
<p>
  A good convention to use is <a href="https://www.conventionalcommits.org">conventional commits</a>.
  The <a href="https://github.com/conventional-changelog/commitlint">commitlint project</a>
  expands on this and adds more categories.
</p>
<p>
  It is important to not introduce to many prefix categories.
  This will defeat the purpose if categorizing commits.
</p>

<h2>Undo commits</h2>
<p>
  Sometimes it is desired to undo changes made by one or multiple commits.
  Prefer <a href="revert-(git).html">reverting</a> over <a href="reset-(git).html">resetting</a> commits
  to preserve the git history.
</p>

<h2>See also</h2>
<ul>
  <li>A 
    <a href="https://medium.com/neudesic-innovation/conventional-commits-a-better-way-78d6785c2e08">
      Medium article
    </a>
    that explains the most common commit prefixes.
  </li>
  <li>
    A <a href="https://gist.github.com/qoomon/5dfcdf8eec66a051ecd85625518cfd13">GitHub gist</a>
    about conventional commit messages.
  </li>
</ul>
</Layout>