---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Helix" maturity="budding">
<p>
  Helix is a text editor run in the terminal.
  Helix also works in the <a href="./tty.html">TTY</a>.
  It is inspired by <a href="https://www.vim.org/">Vim</a> and
  <a href="https://kakoune.org/">Kakoune</a> text editors.
  Helix can be run from the terminal with the <code>hx</code> command.
  Some Linux distributions provide Helix with the <code>helix</code> command.
</p>
<p>
  Helix's editing philosophy is <code>selection -> action</code>,
  prioritizing safety through text verification before specifying an action.
</p>

<h2>Installation</h2>
<p>
  Because Helix is evolving quickly, the way Helix can be installed can evolve to.
  To see how to install Helix, follow the
  <a href="https://docs.helix-editor.com/install.html">Helix documentation book article about installing Helix</a>.
</p>
<p>
  Helix can be installed on Debian using an AppImage<sup><a href="#footnote-1">[1]</a></sup>:
  Download the official Helix AppImage from the
  <a href="https://github.com/helix-editor/helix/releases">Helix latest releases page</a>.
</p>
<p>
  First move the Helix image to a directory inside the 
  <a href="path-.html"><code>$PATH</code> variable</a>:
</p>
<pre><code class="lang-sh">mv helix-*.AppImage /usr/local/bin/hx</code></pre>
<p>Then change it to an executable using <code>chmod</code>:</p>
<pre><code class="lang-sh">chmod +x hx</code></pre>
<p>
  Helix can be run now with the <code>hx</code> command (if <code>/usr/local/bin/</code> directory is in the
  <code>$PATH</code> variable).
</p>

<h2>Configuration</h2>
<p>
  Helix relies on two primary configuration files: <code>~/.config/helix/config.toml</code> for general settings and
  <code>~/.config/helix/languages.toml</code> for Language Server Protocol (LSP) configuration.
  Due to built-in functionality, Helix configurations are typically compact.
  It is recommended to include the <code>config.toml</code> and <code>languages.toml</code> files inside the
  <a href="dotfiles.html">dotfiles</a> repository for backup.
</p>

<h2>Clipboard</h2>
<p>
  Helix can copy to the system clipboard with <kbd>Space</kbd> + <kbd>y</kbd>.
</p>

<h3>Wayland</h3>
<p>
  When running Wayland as a desktop environment, make sure to install <code>wl-clipboard</code>:
</p>
<pre><code class="lang-sh">sudo apt install wl-clipboard</code></pre>

<h3>Xorg</h3>
<p>
  When running Xorg as a desktop environment, make sure to install <code>xclip</code>:
</p>
<pre><code class="lang-sh">sudo apt install xclip</code></pre>

<hr>

<ol>
  <li id="footnote-1">At the time of writing (January 2024) this is the best way to install Helix on Debian.</li>
</ol>
</Layout>