---
import Layout from "@layouts/Layout.astro";
import TerminalList from "@components/TerminalList.svelte";
import TerminalListItem from "@components/TerminalListItem.svelte";

const title = "Hi.";
const description = "I have no idea what I'm doing";
---

<Layout title={title} description={description}>
    <p>{description} :)</p>

    <TerminalList>
        <TerminalListItem dir date="Jan 26"><a href="/notes">My Notes</a></TerminalListItem>
        <TerminalListItem dir date="Oct 15"><a href="/meta">Meta</a></TerminalListItem>
        <TerminalListItem executable date="Oct 11" group="www">
            <a target="_blank" href="https://github.com/th7mo">GitHub</a>
        </TerminalListItem>
        <TerminalListItem executable date="Oct 15" group="www">
            <a target="_blank" href="https://lieu.cblgh.org">Merveilles Webring</a>
        </TerminalListItem>
        <TerminalListItem executable date="Oct 11" group="www">
            <a target="_blank" href="https://soundcloud.com/media-361805444">SoundCloud</a>
        </TerminalListItem>
    </TerminalList>
</Layout>
