---
import Layout from "@layouts/Layout.astro";

const title = "Hi.";
const description = "I have no idea what I'm doing";
---

<Layout title={title} description={description}>
    <p>{description} :)</p>

    <ol>
        <li><a href="/notes">My Notes</a></li>
        <li><a href="/meta">Meta</a></li>
    </ol>

    <p>Links I Like:</p>

    <ol>
        <li><a href="https://github.com/th7mo">GitHub</a></li>
        <li><a href="https://lieu.cblgh.org">Merveilles Webring</a></li>
        <li><a href="https://soundcloud.com/media-361805444">SoundCloud</a></li>
    </ol>  
</Layout>
