---
import Layout from "../layouts/Layout.astro"
---
<Layout title="The Digital Garden" maturity="evergreen" h1="Welcome! 🌱" homepage>
<p>This is my digital garden.</p>
<blockquote>
  <p>
    A digital garden is a collection of evolving ideas that aren't strictly organised by their publication date.
  </p>
</blockquote>
<p>
  The garden is composed of <a href="plant.html">plants</a>.
  Each plant represents a single idea.
  Navigate to other plants to explore the garden.
  The <a href="overview.html">overview</a> lists all plants.
<p>
  My digital garden is built using HTML and CSS.
  Intentionally without the use of JavaScript.
</p>
<p>
  The garden can be viewed in a light and dark <a href="color-scheme-(css).html">color scheme</a> (I recommend the light color scheme).
  The color scheme automatically adjusts to the browser's color scheme preference.
</p>
</Layout>
