---
import Layout from "../layouts/Layout.astro"
---

<Layout
    title="The Digital Garden"
    description="The digital garden of a minimalist"
    h1="Welcome!"
>
<p>This is my digital garden.</p>
<blockquote>
    <p>
        A digital garden is a collection of evolving ideas that aren't
        strictly organized by their publication date.
    </p>
</blockquote>
<p>
    The garden is composed of <a href="garden/plant">plants</a>.
    Each plant represents a single idea.
    Navigate to other plants to explore the garden.
    The <a href="/garden">overview</a> lists all plants.
</p>
<p>
    My digital garden is built using HTML and CSS,
    intentionally without the use of JavaScript.
</p>
<p>
    The garden can be viewed in a light and dark <a href="garden/color-scheme">color scheme</a>
    (I recommend the light color scheme).
    The color scheme automatically adjusts to the browser's color scheme preference.
</p>
</Layout>
