---
import Layout from "@layouts/Layout.astro";
import NavigationCardList from "@components/NavigationCardList.svelte";
import NavigationCard from "@components/NavigationCard.svelte";

const title = "Hi.";
const description = "I have no idea what I'm doing";
---

<Layout title={title} description={description}>
    <p>{description} :)</p>
    <section>
        <NavigationCardList>
            <NavigationCard title="My Notes" href="/notes" iconPath="/images/directory.svg" />
            <NavigationCard title="Color Palette" href="/color-palette" />
            <NavigationCard title="Design Inspiration" href="/design-inspiration" />
            <NavigationCard title="Design Choices" href="/design-choices" />
            <NavigationCard title="Lorem Ipsum" href="/lorem-ipsum" />
        </NavigationCardList>
        <NavigationCardList>
            <NavigationCard title="GitHub" href="https://github.com/th7mo" />
            <NavigationCard title="Vercel" href="https://vercel.com/th7mos-projects/th7mo" />
            <NavigationCard title="ChatGPT" href="https://chatgpt.com" />
            <NavigationCard title="SoundCloud" href="https://soundcloud.com/media-361805444" />
        </NavigationCardList>
    </section>
</Layout>

<style>
    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: var(--spacing-lg);
    }
</style>
