---
import Layout from "@layouts/Layout.astro";
import NavigationCardList from "@components/NavigationCardList.svelte";
import NavigationCard from "@components/NavigationCard.svelte";

const title = "127.0.0.1";
const description = "I don't know what I'm doing";
---

<Layout title={title} description={description}>
    <h1>{title}</h1>
    <p>{description} :)</p>
    <NavigationCardList>
        <NavigationCard title="My Notes" href="/notes" />
        <NavigationCard title="GitHub" href="https://github.com/th7mo" />
        <NavigationCard title="Vercel" href="https://vercel.com/th7mos-projects/th7mo" />
        <NavigationCard title="ChatGPT" href="https://chatgpt.com/" />
    </NavigationCardList>
</Layout>
