---
import Layout from "@layouts/Layout.astro";
import TerminalList from "@components/TerminalList.svelte";
import TerminalListItem from "@components/TerminalListItem.svelte";

const title = "Hi.";
const description = "I have no idea what I'm doing";
---

<Layout title={title} description={description}>
    <p>{description} :)</p>

    <TerminalList>
        <TerminalListItem dir><a href="/notes">notes/</a></TerminalListItem>
        <TerminalListItem dir><a href="/meta">meta/</a></TerminalListItem>
    </TerminalList>

    <TerminalList>
        <TerminalListItem
            executable
        ><a target="_blank" href="https://github.com/th7mo">GitHub</a>
        </TerminalListItem>
        <TerminalListItem
            executable
        ><a target="_blank" href="https://lieu.cblgh.org">Merveilles Webring</a>
        </TerminalListItem>
        <TerminalListItem
            executable
        ><a target="_blank" href="https://soundcloud.com/media-361805444">SoundCloud</a>
        </TerminalListItem>
    </TerminalList>
</Layout>
