---
import Layout from "@layouts/Layout.astro";

const title = "Hi.";
const description = "I have no idea what I'm doing";
---

<Layout title={title} description={description}>
    <p>{description} :)</p>

    <ol>
        <li><code>drw-r--r-- Oct 17</code> <a href="/notes"><code>My Notes</code></a></li>
        <li><code>drw-r--r-- Oct 17</code> <a href="/meta"><code>Meta</code></a></li>
    </ol>

    <p>Some websites I use often:</p>

    <ol>
        <li><code>-r-xr-xr-x Oct 11</code> <a target="_blank" href="https://github.com/th7mo"><code>GitHub</code></a></li>
        <li><code>-r-xr-xr-x Oct 15</code> <a target="_blank" href="https://lieu.cblgh.org"><code>Merveilles Webring</code></a></li>
        <li><code>-r-xr-xr-x Oct 11</code> <a target="_blank" href="https://soundcloud.com/media-361805444"><code>SoundCloud</code></a></li>
    </ol>  
</Layout>

<style>
    ol {
        list-style: none;
        padding-left: 0;
    }

    code {
        background-color: transparent;
    }
</style>
