---
import Layout from "@layouts/Layout.astro";
import TerminalList from "@components/TerminalList.svelte";
import TerminalListItem from "@components/TerminalListItem.svelte";

const description = "Pages describing aspects about this website";
---

<Layout title="Meta" {description}>
    <p>{description}.</p>
    <TerminalList>
        <TerminalListItem date="16-10-2024" group="meta"><a href="meta/lorem-ipsum">Lorem Ipsum</a></TerminalListItem>
        <TerminalListItem date="15-10-2024" group="meta"><a href="meta/color-palette">Color Palette</a></TerminalListItem>
        <TerminalListItem date="15-10-2024" group="meta"><a href="meta/design-inspiration">Design Inspiration</a></TerminalListItem>
        <TerminalListItem date="15-10-2024" group="meta"><a href="meta/design-choices">Design Choices</a></TerminalListItem>
    </TerminalList>
</Layout>
