---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Multiple indentities (Git)" maturity="budding">
<h1>Multiple identities (Git)</h1>
<p>
  When having a personal and a work identity for <a href="git.html">Git</a> there is additional configuration
  required to let Git know when to use which identity.
</p>
<p>
  Sometimes it is desired to overwrite the default <a href="gitconfig.html">gitconfig</a>.
  This can be done by creating another <code>.gitconfig</code> configuration anywhere, and referencing it in
  the main <code>~/.gitconfig</code> file.
  The <code>includeIf</code> option is used to specify when a <code>.gitconfig</code> file should be active:
</p>
<pre><code>[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work
</code></pre>
<p>
  This specifies that the <code>~/.gitconfig-work</code> configuration should be used when inside a Git repository
  anywhere under the <code>~/work/</code> directory.
  The <code>~/.gitconfig-work</code> can have a different name (<code>user.name</code>) and
  <a href="email-address.html">email address</a> (<code>user.email</code>) for professional use.
</p>
<p>
  It is important to always end the <code>gitdir</code> path with a forward slash <code>/</code>,
  otherwise it will not work!
</p>
</Layout>