---
import Layout from "../layouts/Layout.astro"
import { getCollection } from "astro:content";
const notes = await getCollection("notes");
---

<Layout
    title="The Notes"
    description="The digital garden of a minimalist"
>
<p>
    The <a href="notes/digital-garden">digital garden</a> has a no particular structure.
    Search for one of the {notes.length} <a href="notes/plant">plants</a>
    with <kbd>Ctrl</kbd> + <kbd>f</kbd>
    or cycle through with <kbd>Tab</kbd> :
</p>

<ol>
    {notes.map((note) => (
        <li>
            <a href={`notes/${note.slug}`}>{note.data.title}
                <p>{note.data.description}</p>
            </a>

        </li>
    ))}
</ol>
</Layout>

<style>
    ol {
        margin-top: var(--spacing-lg);
        display: grid;
        padding: 0;
        gap: var(--spacing-md);
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        list-style: none;
    }

    li a {
        background-color: var(--color-surface);
        color: var(--color-foreground);
        font-family: var(--font-secondary);
        padding: var(--spacing-md);
        display: block;
        transition: all 0.15s;
        text-decoration: none;
        border-radius: var(--border-radius-xs);
        height: 100%;
    }

    li a,
    li a:visited {
        font-weight: 900;
    }


    li p {
        font-size: var(--body-sm);
        font-weight: 300;
        text-align: start;
        hyphens: none;
    }

    li a::before {
        content: "";
    }

    li a:hover {
        background-color: var(--color-overlay);
    }
</style>
