---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Obsidian" maturity="budding">
<p>
    <a href="https://obsidian.md/">Obsidian</a> is a note-taking tool.
    Notes created in Obsidian use the <a href="markdown.html">Markdown</a> format.
    The Obsidian way of note-taking stimulates to link notes together and keep notes atomic (a single topic/concept per note).
    This can be done with wiki links or regular Markdown links.
</p>
<p>
    Obsidian has a graph view that shows all notes and how to are related to each other.
    The graph view can be used to overview notes, and see the coherence in a single view.
    The graph view stimulates linking notes together.
</p>
<p>
    The Obsidian community maintains a large collection of plugins that enhance Obsidian.
    The downside of plugins is that it defeats the portability aspect of Obsidian.
</p>
<p>
    A project in Obsidian is called a vault.
    A vault is just a directory inside a file system.
    Obsidian stores all its data in the hidden <code>.obsidian</code> directory.
</p>
</Layout>
