---
import Layout from "../layouts/Layout.astro"
const pages = await Astro.glob("./*.astro");
const exceptions = ["404-not-found", "index"];
---
<Layout title="Garden" maturity="seedling" h1="The Garden" overview>
<p>
  The <a href="digital-garden.html">digital garden</a> has a no particular structure.
  Search for one of the {pages.length - 2} <a href="plant.html">plants</a> with <kbd>Ctrl</kbd> + <kbd>f</kbd>
  or cycle through with <kbd>Tab</kbd> :
</p>

<ol id="overview">
{pages.map((page) => (
  !exceptions.includes(page.default.name) &&
  <li>
    <a href={page.default.name + ".html"}>{page.default.name.replaceAll("-", " ")}</a>
  </li>
))}
</ol>
</Layout>
