---
import Layout from "../layouts/Layout.astro"
const pages = await Astro.glob("./*.astro");
---
<Layout title="Garden" maturity="seedling" h1="The Garden" overview>
<p>
  The <a href="digital-garden.html">digital garden</a> has a no particular structure.
  For easy indexing the {pages.length - 3} <a href="plant.html">plants</a> are listed in alphabetical order.
</p>
<hr>
<h2>A</h2>
<ul>
</ul>

<h2>B</h2>
<ul>
  <li><a href="branch-(git).html">Branch (Git)</a></li>
</ul>

<h2>C</h2>
<ul>
  <li><a href="commit-(git).html">Commit (Git)</a></li>
</ul>

<h2>D</h2>
<ul>
  <li><a href="dotfiles.html">Dotfiles</a></li>
</ul>

<h2>E</h2>
<ul>
</ul>

<h2>F</h2>
<ul>
  <li><a href="flatpak.html">Flatpak</a></li>
  <li><a href="footnote-(html).html">Footnote (HTML)</a></li>
</ul>

<h2>G</h2>
<ul>
  <li><a href="git.html">Git</a></li>
  <li><a href="gitconfig.html">Gitconfig</a></li>
</ul>

<h2>H</h2>
<ul>
  <li><a href="helix.html">Helix</a></li>
</ul>

<h2>I</h2>
<ul>
</ul>

<h2>J</h2>
<ul>
</ul>

<h2>K</h2>
<ul>
  <li><a href="keychain.html">Keychain</a></li>
</ul>

<h2>L</h2>
<ul>
  <li><a href="linux-workflow.html">Linux workflow</a></li>
  <li><a href="lorem-ipsum.html">Lorem Ipsum</a></li>
</ul>

<h2>M</h2>
<ul>
  <li><a href="multiple-identities-(git).html">Multiple identities (Git)</a></li>
</ul>

<h2>N</h2>
<ul>
  <li><a href="networkmanager.html">NetworkManager</a></li>
  <li><a href="nginx.html">NGINX</a></li>
</ul>

<h2>O</h2>
<ul>
  <li><a href="obsidian.html">Obsidian</a></li>
  <li><a href="oh-my-zsh.html">Oh My Zsh</a></li>
</ul>

<h2>P</h2>
<ul>
  <li><a href="paragraph-width.html">Paragraph width</a></li>
  <li><a href="plant.html">Plant</a></li>
</ul>

<h2>Q</h2>
<ul>
</ul>

<h2>R</h2>
<ul>
  <li><a href="rebase-(git).html">Rebase (Git)</a></li>
  <li><a href="recipe-book.html">Recipe book</a></li>
  <li><a href="regular-expression.html">Regular expression</a></li>
  <li><a href="revert-(git).html">Revert (Git)</a></li>
</ul>

<h2>S</h2>
<ul>
  <li><a href="semantic-versioning.html">Semantic versioning</a></li>
  <li><a href="ssh-keygen.html">Ssh-keygen</a></li>
  <li><a href="stow.html">Stow</a></li>
  <li><a href="symbolic-link.html">Symbolic link</a></li>
</ul>

<h2>T</h2>
<ul>
  <li><a href="tmux.html">Tmux</a></li>
  <li><a href="tty.html">TTY</a></li>
</ul>

<h2>U</h2>
<ul>
</ul>

<h2>V</h2>
<ul>
</ul>

<h2>W</h2>
<ul>
  <li><a href="wikilink.html">Wikilink</a></li>
  <li><a href="worktree-(git).html">Worktree (Git)</a></li>
</ul>

<h2>X</h2>
<ul>
</ul>

<h2>Y</h2>
<ul>
  <li><a href="yaml-front-matter.html">YAML front matter</a></li>
</ul>

<h2>Z</h2>
<ul>
  <li><a href="zsh.html">Zsh</a></li>
</ul>
</Layout>
