---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Rebase (Git)" maturity="budding">
<p>
  A <a href="git.html">Git</a> rebase adds one or multiple <a href="commit.html">commits</a> from a
  <a href="branch.html">branch</a> on top of another branch.
</p>
<p>
  The most simple use case for a rebase is when a <a href="remote.html">remote</a> branch somebody is also
  locally working on has new changes.
  First, fetch the remote to download contents from the remote repository:
</p>
<pre><code class="lang-sh">git fetch</code></pre>
<p>
  If new changes have been made to the remote branch, include those remote changes by rebasing the commit
  made on top of the local branch as if they were made locally:
</p>
<pre><code class="lang-sh">git rebase origin main</code></pre>
<p>
  Now all the new commits made on the remote <code>origin/main</code> branch will be applied to the
  local <code>main</code> branch.
</p>
<p>A shorthand for this workflow is the <code>pull</code> command with the <code>--rebase</code> flag:</p>
<pre><code is:raw class="lang-sh">git pull --rebase {remote-name} {branch-name}</code></pre>
<p>
  The <code>--rebase</code> flag can be omitted when the <code>pull.rebase</code> option is configured
  in the <a href="gitconfig.html">gitconfig</a>:
</p>
<pre><code>[pull]
    rebase = true
</code></pre>
</Layout>
