---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Regular expression" maturity="seedling">
<p>
  A regular expression (or regex) is a search pattern.
  They allow searching large amounts of text, or making sure strings meet specific criteria.
  This is useful for checking if passwords contain lowercase, uppercase and a few special characters.
  It can also be used to validate if a string is a valid <a href="email-address.html">email address</a>.
</p>
<p>
  Regular expressions are one of the few exceptions for commenting code.
  This is because it can be difficult to understand a regular expression.
</p>
<p>
  A regular expression can have special characters that have a special meaning.
  The backslash <code>\</code> is used to escape a special character.
</p>
</Layout>