---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Symbolic link" maturity="evergreen">
<p>
  A symbolic link, often called a 'symlink', is a file 
  that serves as a reference/pointer to another file or directory.
</p>
<p>
  With <a href="unix.html">Unix</a>-based systems the <code>ln</code> (link) command with
  the <code>-s</code> (soft) flag can be used to create symbolic link:
</p>
<pre><code is:raw class="lang-sh">ln -s {target_path} {link_path}</code></pre>
<ul>
  <li><code is:raw>{target_path}</code> is the path to the file or directory to link to.</li>
  <li><code is:raw>{link_path}</code> the desired path for the (new) symbolic link.</li>
</ul>
</Layout>
