---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Wikilink" maturity="budding">
<p>
    A wikilink is a <a href="https://maggieappleton.com/bidirectionals">bidirectional link</a> from one article to another article.
    Wikilinks are the default method to link two resources (articles) in <a href="obsidian.html">Obsidian</a>
    and <a href="https://www.wikipedia.org/">Wikipedia</a>.
</p>

<h2>Link to a article</h2>
<p>A wikilink is created by enclosing the name of a article by double square brackets:</p>
<pre><code is:raw>[[{name-of-article}]]</code></pre>

<p>
    Only the first character of the wikilink name is <em>case-insensitive</em>.
    This allows for proper capitalizing the first character of a sentence.
    It also allows to properly capitalize wikilinks when the link text represents something that should be capitalized by default.
</p>

<h2>Link to a article heading</h2>
<p>To link to a heading in another article, append a <code>#</code> and the heading name to the article name:</p>
<pre><code is:raw>[[{name-of-article}#{name-of-heading}]]</code></pre>
<p>The name of the heading is <em>case-sensitive</em>.</p>
<p>To link to a heading in the same article, emit the name of the article:</p>
<pre><code>[[#Link to a article heading]]</code></pre>

<h2>Amount of wikilinks</h2>
<p>
    A wikilink for a article should appear only <em>once</em> in a article.
    It is allowed however to have multiple wikilinks to the same article if the wikilinks link to different headings.
    This makes the article more readable and makes for a simple rule to follow.
    It is also easier to write, especially in technical articles where there can be a lot of mentions of other articles.
</p>
<p>A wikilink should be placed at the first mention of the concept it will link to.</p>

<h2>Compatibility</h2>
<p>
    Wikilinks are not part of the official <a href="markdown.html">Markdown</a> specification.
    They are also not well-supported either.
    However, they are more pleasant to read, write and maintain than regular Markdown links.
    There are tools available that convert wikilinks into regular Markdown links.
</p>

<h2>See also</h2>
<ul>
    <li>The <a href="https://help.obsidian.md/Linking+notes+and+files/Internal+links">Obsidian help</a> about internal links using wikilinks.</li>
    <li>The <a href="https://en.wikipedia.org/wiki/Help:Link">Wikipedia article</a> about wikilinks.</li>
</ul>
</Layout>
