---
import Layout from "@layouts/Layout.astro";

const title = "Color Palette";
const description = "All the colors used on this website";
---

<Layout title={title} description={description}>
    <p>{description}:</p>
    <ul>
        <li id="foreground">foreground</li>
        <li id="background">background</li>
        <li id="surface">surface</li>
        <li id="overlay">overlay</li>
    </ul>
</Layout>

<style>
    ul {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-md);
        list-style: none;
    }

    li {
        padding: var(--spacing-sm);
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: italic;
        border: var(--border-md);
    }

    #foreground {
        color: var(--color-background);
        background-color: var(--color-foreground);

        &::selection {
            color: var(--color-foreground);
            background-color: var(--color-background);
        }
    }

    #background {
        background-color: var(--color-background);
    }

    #surface {
        background-color: var(--color-surface);
    }

    #overlay {
        background-color: var(--color-overlay);
    }
</style>
