---
interface Props {
    letter: string;
}
const { letter } = Astro.props;
---

<li>
    <a
        class="navigation-card"
        href={`${Astro.url.pathname}#${letter}`}
    >
        {letter.toUpperCase()}
    </a>
</li>

<style>
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--alphabet-navigation-letter-size);
        height: var(--alphabet-navigation-letter-size);
    }
</style>
