---
const { letter, size } = Astro.props;
---

<li>
    <a class="navigation-card" href={`${Astro.url.pathname}#${letter}`}>{letter.toUpperCase()}</a>
</li>

<style define:vars={{ size }}>
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--size);
        width: var(--size);
    }
</style>
