---
import BreadcrumbNavigationItem from "@components/BreadcrumbNavigationItem.astro";

const path = Astro.url.pathname;
const breadcrumbItems = path.split("/").filter(part => part !== "").map((pathPart, index, array) => ({
    href: `/${array.slice(0, index + 1).join("/")}`,
    displayText: pathPart.replaceAll("-", " "),
}));
---

<header>
    <nav>
        <ol>
            <BreadcrumbNavigationItem
                href="/"
                displayText="th7mo"
            />
            {
                breadcrumbItems.map((item) => (
                    <BreadcrumbNavigationItem
                        href={item.href}
                        displayText={item.displayText}
                    />
                ))
            }
        </ol>
    </nav>
</header>

<style>
    header {
        top: 0;
        position: sticky;
        padding: var(--spacing-md) 0;
        margin: var(--layout-xl) 0;
        background-color: var(--color-background);
        z-index: 1;
    }

    ol {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        list-style: none;
        user-select: none;
        -webkit-user-select: none;
        font-size: var(--body-lg);
    }
</style>
