---
import NoteItem from "./NoteItem.astro";

const { notes } = Astro.props;
const groupedNotes = {};

notes.forEach(note => {
  let firstLetter = note.slug.charAt(0).toUpperCase();
  if (!groupedNotes[firstLetter]) {
    groupedNotes[firstLetter] = [];
  }
  groupedNotes[firstLetter].push(note);
});
---

{Object.entries(groupedNotes).map(([firstLetter, notes]) => (
    <h2 id={firstLetter}>{firstLetter}</h2>
    <ol>
        {notes.map((note) => (
            <li>
                <NoteItem note={note}></NoteItem>
            </li>
        ))}
    </ol>
))}

<style>
    ol {
        margin-top: var(--spacing-lg);
        display: grid;
        padding: 0;
        gap: var(--spacing-md);
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        list-style: none;
    }
</style>
