---
const { letter } = Astro.props;
---

<li>
    <a href={`${Astro.url.pathname}#${letter}`}>{letter.toUpperCase()}</a>
</li>

<style>
    a {
        text-decoration: none;
        background-color: var(--color-surface);
        display: flex;
        justify-content: center;
        border-radius: var(--border-radius-xs);
        border: 1px solid var(--color-foreground);
        align-items: center;
        transition: all 0.15s;
        height: 3rem;
        width: 3rem;
    }

    a:hover {
        background-color: var(--color-overlay);
    }

    @media (prefers-reduced-motion: no-preference) {
        a:hover {
            transform: translateY(-1.5px);
        }
    }
</style>
