---
import type { CollectionEntry } from "astro:content";
import NoteNavigationCard from "@components/NoteNavigationCard.astro";

interface Props {
    notes: CollectionEntry<"notes">[] 
}
const { notes } = Astro.props;
const groupedNotes: {[key: string]: CollectionEntry<"notes">[]} = {};

notes.forEach(note => {
  let firstLetter = note.slug.charAt(0).toLowerCase();
  if (!groupedNotes[firstLetter]) {
    groupedNotes[firstLetter] = [];
  }
  groupedNotes[firstLetter].push(note);
});
---

{Object.entries(groupedNotes).map(([firstLetter, notes]) => (
    <h2 id={firstLetter}>{firstLetter.toUpperCase()}</h2>
    <ol>
        {notes.map((note) => (
            <li><NoteNavigationCard {...note.data} {...note} /></li>
        ))}
    </ol>
))}

<style>
    ol {
        display: grid;
        padding: 0;
        gap: var(--spacing-md);
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        list-style: none;
    }
</style>
