/* Rose Pine Dawn */
:root {
    /* pine */
    --color-primary: #286983;

    --color-background: #faf4ed;
    --color-surface: #fffaf3;
    --color-overlay: #f2e9e1;
    --color-text: #575279;
}

/* Rose Pine */
@media (prefers-color-scheme:dark) {
    :root {
        /* foam */
        --color-primary: #9ccfd8;

        --color-background: #191724;
        --color-surface: #1f1d2e;
        --color-overlay: #26233a;
        --color-text: #e0def4;
    }
}