.seedling::before,
.budding::before,
.evergreen::before {
    padding-right: 0.4rem;
}

.seedling::before {
    content: url("../svg/seedling.svg");
}

.budding::before {
    content: url("../svg/budding.svg");
}

.evergreen::before {
    content: url("../svg/evergreen.svg");
}

a[href^="http"]::after {
    content: url("../svg/external-link.svg");
}

a[href^="#"]:not([href^="#footnote-"])::before {
    content: "§";
}

a:not(nav a):not(sup a):not([href^="http"])::before {
    padding-right: 0.2rem;
    content: url("../svg/evergreen.svg");
}