@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Rose Pine Dawn */
:root {
    /* pine */
    --color-primary: #286983;

    --color-base: #faf4ed;
    --color-surface: #fffaf3;
    --color-overlay: #f2e9e1;
    --color-text: #575279;
}

/* Rose Pine */
@media (prefers-color-scheme:dark) {
    :root {
        /* foam */
        --color-primary: #9ccfd8;

        --color-base: #191724;
        --color-surface: #1f1d2e;
        --color-overlay: #26233a;
        --color-text: #e0def4;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.1rem;
    margin: auto;
    padding: 5rem 1rem 0 1rem;
    max-width: 57.5ch;
    line-height: 1.5;
    font-family: "Zilla Slab", serif;
    color: var(--color-text);
    background: var(--color-base);
}

main {
    padding: 3rem 0 10rem 0;
}

h1,
h2,
h3,
h4 {
    margin: 2rem 0 1rem 0;
    line-height: 1.2;
    font-weight: bold;
}

ol,
ul {
    padding-left: 2rem;
}

a,
a:visited {
    color: var(--color-primary);
    text-decoration: none;
    white-space: nowrap;
}

a:not(nav a) {
    font-weight: bold;
}

nav a,
nav a:visited {
    color: var(--color-text);
    text-decoration: none;
}

nav ol {
    user-select: none;
    padding: 0;
    display: flex;
    align-items: baseline;
    list-style: none;
}

nav ol li:not(:last-child)::after {
    padding: 0.7rem;
    content: '/';
}

p,
ol,
ul,
pre code {
    margin: 1rem 0;
}

blockquote {
    padding-left: 1rem;
    border-left: 0.4rem solid var(--color-primary);
}

em,
blockquote {
    font-style: italic;
}

nav ol li:last-child {
    font-style: italic;
    font-family: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
}

hr {
    margin: 3rem 0 1.5rem 0;
    border: 1px solid var(--color-overlay);
}

code,
kbd {
    padding: 1px 3px;
    border-radius: 3px;
    background-color: var(--color-overlay);
    font-family: monospace;
    font-size: 0.8rem;
}

code.lang-sh::before {
    content: "$ ";
    color: var(--color-primary);
    font-weight: bold;
}

pre {
    white-space: pre-wrap;
}

pre code {
    padding: 1rem;
    display: block;
    background-color: var(--color-surface);
}

kbd {
    display: inline-block;
    min-width: 1.3rem;
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 1px 0 0 var(--color-text);
}

.seedling::before,
.budding::before,
.evergreen::before {
    padding-right: 0.4rem;
}

.seedling::before {
    content: url("../svg/seedling.svg");
}

.budding::before {
    content: url("../svg/budding.svg");
}

.evergreen::before {
    content: url("../svg/evergreen.svg");
}

a[href^="http"]::after {
    content: url("../svg/external-link.svg");
}

a[href^="#"]:not([href^="#footnote-"])::before {
    content: "§";
}

a:not(nav a):not(sup a):not([href^="http"])::before {
    padding-right: 0.2rem;
    content: url("../svg/evergreen.svg");
}