@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /* Mozilla Black */
    --color-foreground: #000;
    /* Mozilla White */
    --color-background: #fff;
    /* Mozilla Light Gray 10 */
    --color-surface: #f9f9fb;
    /* Mozilla Light Gray 20 */
    --color-overlay: #f0f0f4;

    --border-radius-xs: 2px;
    --border-radius-sm: 5px;

    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;

    --layout-md: 3rem;
    --layout-lg: 4rem;
    --layout-xl: 6rem;
    --layout-2xl: 12rem;

    --title-md: 3rem;
    --title-xs: 1.75rem;
    --title-2xs: 1.5rem;
    --title-3xs: 1.125rem;

    --body-sm: 0.875rem;
    --body-md: 1rem;
    --body-lg: 1.125rem;

    --font-primary: "Inter", sans-serif;
    --font-secondary: "Zilla Slab", serif;
    --font-mono: "JetBrains Mono", monospace;
}

@media (prefers-color-scheme:dark) {
    :root {
        /* Mozilla White */
        --color-foreground: #fff;
        /* Mozilla Black */
        --color-background: #000;
        /* Mozilla Dark Gray 80 */
        --color-surface: #1c1b22;
        /* Mozilla Dark Gray 70 */
        --color-overlay: #2b2a33;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: var(--color-foreground);
}

a::before {
    display: inline-block;
    text-decoration: none;
}

body {
    overflow-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    margin: auto;
    max-width: 57.5ch;
    padding: 0 var(--spacing-md);
    background: var(--color-background);
    line-height: 1.5;
    font-size: var(--body-md);
    font-family: var(--font-primary);
}

main {
    padding-bottom: var(--layout-2xl);
}

header {
    position: sticky;
    padding: var(--spacing-md) 0;
    margin: var(--layout-xl) 0;
    background-color: var(--color-background);
    top: 0;
}

nav ol {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    user-select: none;
    -webkit-user-select: none;
    font-weight: 500;
    font-size: var(--body-lg);
    font-family: var(--font-secondary);
}

nav ol li:not(:last-child)::after {
    padding: 0 var(--spacing-sm);
    content: "/";
}

nav ol li:last-child {
    font-style: italic;
}

nav a {
    text-decoration: none;
    font-weight: 500;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-secondary);
}

h1,
h2 {
    margin: var(--spacing-lg) 0 var(--spacing-md);
    line-height: 1;
}

h3,
h4 {
    margin: var(--spacing-md) 0 var(--spacing-sm);
    line-height: 1.2;
}

h1 {
    font-size: var(--title-md);
}

h2 {
    font-size: var(--title-xs);
}

h3 {
    font-size: var(--title-2xs);
}

h4 {
    font-size: var(--title-3xs);
}

:focus {
    outline: 2px solid var(--color-foreground);
}

:focus:not(:focus-visible) {
    outline: none;
}

a,
a:visited {
    font-weight: 700;
    text-decoration-thickness: 1.5px;
}

a:hover {
    text-decoration: none;
}

ol,
ul {
    padding-left: var(--spacing-lg);
}

p:not(:last-child),
ol:not(:last-child),
ul:not(:last-child),
blockquote:not(:last-child),
pre:not(:last-child) {
    margin-bottom: var(--spacing-md);
}

blockquote {
    padding: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-md);
    border-left: var(--spacing-sm) solid var(--color-foreground);
}

em,
blockquote p {
    font-style: italic;
    font-weight: 500;
    font-size: var(--body-lg);
    font-family: var(--font-secondary);
}


hr {
    margin: var(--spacing-lg) 0 var(--spacing-md);
    border: 1px solid var(--color-foreground);
}

code,
kbd {
    padding: 0 var(--spacing-xs);
    display: inline-block;
    border-radius: var(--border-radius-sm);
    background-color: var(--color-overlay);
    font-size: var(--body-sm);
    font-family: var(--font-mono);
}

code.lang-sh::before {
    content: "$ ";
    font-weight: 800;
}

pre {
    white-space: pre-wrap;
}

pre code {
    padding: var(--spacing-md);
    display: block;
    border-radius: var(--border-radius-xs);
    background-color: var(--color-surface);
}

kbd {
    min-width: 1.3rem;
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 1px 0 0 var(--color-foreground);
}

.seedling::before,
.budding::before,
.evergreen::before {
    padding-right: var(--spacing-sm);
}

.seedling::before {
    content: url("/svg/seedling.svg");
}

.budding::before {
    content: url("/svg/budding.svg");
}

.evergreen::before {
    content: url("/svg/evergreen.svg");
}

a[href^="http"]::after {
    content: url("/svg/external-link.svg");
}

a[href^="#"]:not([href^="#footnote-"])::before {
    content: "§";
}

li[id^="footnote-"] {
    font-size: var(--body-sm);
}

a[href^="#footnote-"] {
    text-decoration: none;
}

a:not(nav a):not(sup a):not([href^="http"])::before {
    padding-right: var(--spacing-xs);

}

#overview {
    margin-top: var(--spacing-lg);
    display: grid;
    padding: 0;
    gap: var(--spacing-md);
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    list-style: none;
}

#overview li a {
    background-color: var(--color-surface);
    color: var(--color-foreground);
    font-weight: bold;
    font-size: var(--body-lg);
    font-family: var(--font-secondary);
    padding: var(--spacing-md);
    display: block;
    transition: all 0.15s;
    text-decoration: none;
    border-radius: var(--border-radius-xs);
}

#overview li a::before {
    content: "";
}

#overview li a:hover {
    background-color: var(--color-overlay);
}
