:root {
    --color-base: #faf4ed;
    --color-surface: #fffaf3;
    --color-overlay: #f2e9e1;
    --color-muted: #9893a5;
    --color-subtle: #797593;
    --color-text: #575279;

    --color-love: #b4637a;
    --color-gold: #ea9d34;
    --color-rose: #d7827e;
    --color-pine: #286983;
    --color-foam: #56949f;
    --color-iris: #907aa9;

    --color-highlight-low: #f4ede8;
    --color-highlight-med: #dfdad9;
    --color-highlight-high: #cecacd;
}

@media (prefers-color-scheme:dark) {
    :root {
        --color-base: #191724;
        --color-surface: #1f1d2e;
        --color-overlay: #26233a;
        --color-muted: #6e6a86;
        --color-subtle: #908caa;
        --color-text: #e0def4;

        --color-love: #eb6f92;
        --color-gold: #f6c177;
        --color-rose: #ebbcba;
        --color-pine: #31748f;
        --color-foam: #9ccfd8;
        --color-iris: #c4a7e7;

        --color-highlight-low: #21202e;
        --color-highlight-med: #403d52;
        --color-highlight-high: #524f67;
    }
}