:root {
    --rose-pine-base: #faf4ed;
    --rose-pine-surface: #fffaf3;
    --rose-pine-overlay: #f2e9e1;
    --rose-pine-text: #575279;
    /** I only use one of those, but I see myself use more in the future */
    --rose-pine-love: #b4637a;
    --rose-pine-gold: #ea9d34;
    --rose-pine-rose: #d7827e;
    --rose-pine-pine: #286983;
    --rose-pine-foam: #56949f;
    --rose-pine-iris: #907aa9;

    --color-primary: var(--rose-pine-pine);
    --color-background: var(--rose-pine-base);
    --color-surface: var(--rose-pine-surface);
    --color-overlay: var(--rose-pine-overlay);
    --color-text: var(--rose-pine-text);
}

@media (prefers-color-scheme:dark) {
    :root {
        --rose-pine-base: #191724;
        --rose-pine-surface: #1f1d2e;
        --rose-pine-overlay: #26233a;
        --rose-pine-text: #e0def4;
        /** I only use one of those, but I see myself use more in the future */
        --rose-pine-love: #eb6f92;
        --rose-pine-gold: #f6c177;
        --rose-pine-rose: #ebbcba;
        --rose-pine-pine: #31748f;
        --rose-pine-foam: #9ccfd8;
        --rose-pine-iris: #c4a7e7;

        --color-primary: var(--rose-pine-foam);
        --color-background: var(--rose-pine-base);
        --color-surface: var(--rose-pine-surface);
        --color-overlay: var(--rose-pine-overlay);
        --color-text: var(--rose-pine-text);
    }
}