.seedling::before,
.budding::before,
.evergreen::before {
    padding-right: 0.4rem;

}

.seedling::before {
    content: url("seedling.svg");
}

.budding::before {
    content: url("budding.svg");
}

.evergreen::before {
    content: url("evergreen.svg");
}

a[href^="http"]::after {
    content: url("external-link.svg");
}

a:not(nav a):not(sup a):not([href^="http"])::before {
    padding-right: 0.2rem;
    content: url("evergreen.svg");
}