a,
a:visited {
    color: var(--color-primary);
    text-decoration: none;
    white-space: nowrap;
}

a:not(nav a) {
    font-weight: bold;
}

nav a,
nav a:visited {
    color: var(--color-text);
    text-decoration: none;
}

nav ol {
    display: flex;
    padding: 0;
    align-items: baseline;
    list-style: none;
}

nav ol li:not(:last-child)::after {
    padding: 0.7rem;
    content: '/';
}