@import url("colors.css");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: var(--color-text);
    background: var(--color-base);
    margin: auto;
    max-width: 57.5ch;
    padding: 5rem 1rem 0 1rem;
}

.vector {
    stroke: var(--color-foam);
}

main {
    padding: 3rem 0 10rem 0;
}

h1,
h2,
h3,
h4 {
    margin: 2rem 0 1rem 0;
    line-height: 1.2;
}

.seedling::before,
.budding::before,
.evergreen::before {
    padding-right: 0.4rem;

}

.seedling::before {
    content: url("seedling.svg");
}

.budding::before {
    content: url("budding.svg");
}

.evergreen::before {
    content: url("evergreen.svg");
}

ol,
ul {
    padding-left: 2rem;
}

p,
ol,
ul,
pre code {
    margin: 1rem 0;
}

a,
a:visited {
    color: var(--color-foam);
    text-decoration: none;
}

a[href^="http"]::after {
    content: url("external-link.svg");
}

a:not(nav a):not(sup a):not([href^="http"])::before {
    content: "{";
}

a:not(nav a):not(sup a):not([href^="http"])::after {
    content: "}";
}

blockquote {
    padding-left: 1rem;
    border-left: 0.4rem solid var(--color-subtle);
}

em,
nav ol li:last-child,
blockquote {
    font-style: italic;
    font-family: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
}

code,
kbd {
    padding: 1px 3px;
    border-radius: 3px;
    background-color: var(--color-overlay);
}

pre {
    white-space: pre-wrap;
}

pre code {
    display: block;
    padding: 1rem;
    background-color: var(--color-surface);
}

kbd {
    display: inline-block;
    min-width: 1.3rem;
    text-align: center;
    border: 1px solid var(--color-overlay);
    font-weight: bold;
    box-shadow: 1px 1px 0 0 var(--color-subtle);
}

hr {
    margin: 3rem 0 1.5rem 0;
    border: none;
    border-top: 2px solid var(--color-overlay);
}

nav a,
nav a:visited {
    color: var(--color-text);
    text-decoration: none;
}

nav ol {
    display: flex;
    padding: 0;
    align-items: baseline;
    list-style: none;
}

nav ol li:not(:last-child)::after {
    padding: 0.7rem;
    content: '/';
    color: var(--color-subtle);
}