---
const path = Astro.url.pathname;
console.log(path);
const breadcrumbItems = path.split("/").filter(part => part !== "").map((pathPart, index, array) => ({
    href: `/${array.slice(0, index + 1).join("/")}`,
    displayText: pathPart.replaceAll("-", ""),
}));
console.log(breadcrumbItems);
---

<header>
    <nav>
        <ol>
            <li><a href="/">th7mo</a></li>
            {
                breadcrumbItems.map((breadcrumbItem) => (
                    <li>
                        <a href={breadcrumbItem.href}>{breadcrumbItem.displayText}</a>
                    </li>
                ))
            }
        </ol>
    </nav>
</header>

<style>
    header {
        top: 0;
        position: sticky;
        padding: var(--spacing-md) 0;
        margin: var(--layout-xl) 0;
        background-color: var(--color-background);
        z-index: 1;
    }

    ol {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        list-style: none;
        user-select: none;
        -webkit-user-select: none;
        font-size: var(--body-lg);
    }

    li:not(:last-child)::after {
        padding: 0 var(--spacing-sm);
        content: "/";
    }

    li:last-child a {
        font-weight: 700;
    }

    a {
        font-weight: 400;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        text-decoration-thickness: 1.2px;
    }
</style>
