---
interface Props {
    title: string;
    description: string;
}
const { title, description } = Astro.props;
---

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Thimo van Velzen">
    <meta name="keywords" content="HTML, CSS, Astro, wiki, minimalist, simple, notes, note-taking">
    <meta name="description" content={description}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{title}</title>
    <link rel="icon" href="/favicon-black.ico" media="(prefers-color-scheme: light)">
    <link rel="icon" href="/favicon-white.png" media="(prefers-color-scheme: dark)">
</head>
