---
interface Props {
title: string;
maturity: string;
homepage?: boolean;
overview?: boolean;
h1?: string;
}

const { title, maturity, homepage, overview, h1 } = Astro.props;
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Thimo van Velzen">
        <meta name="keywords" content="HTML, CSS, Astro, digital-garden, garden, wiki, second-brain, minimalist, simple">
        <meta name="description" content="The digital garden of a minimalist">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{title}</title>
        <link rel="icon" href="favicon-black.ico" media="(prefers-color-scheme: light)">
        <link rel="icon" href="favicon-white.png" media="(prefers-color-scheme: dark)">
        <link rel="stylesheet" href="/styles/styles.css"> 
    </head>
    <body>
        <header>
            <nav>
                <ol>
                    <li><a href="index.html">th7mo</a></li>
                    {!homepage && <li><a href="overview.html">garden</a></li>}
                    {!homepage && !overview &&
                        <li class={maturity}>{title}</li>
                    }
                </ol>
            </nav>
        </header>
        <main>
            <h1>{h1 ? h1 : title}</h1>
            <slot />
        </main>
    </body>
</html>
