---
import Head from "@components/Head.svelte";
import BreadcrumbNavigation from "@components/BreadcrumbNavigation.svelte";

import "@styles/fonts.css";
import "@styles/spacing.css";
import "@styles/base.css";
import "@styles/links.css";
import "@styles/text.css";
import "@styles/code.css";
import "@styles/lists.css";
import "@styles/tables.css";
import "@styles/misc.css";
import "@styles/colors.css";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

const currentPagePath = Astro.url.pathname.replace(".html", "").replace(/^\/|\/$/g, "");
---

<!doctype html>
<html lang="en">
    <Head title={title} description={description} />
    <body>
        <BreadcrumbNavigation currentPagePath={currentPagePath} />
        <main>
            <h1>{title}</h1>
            <slot />
        </main>
    </body>
</html>

<style>
    :root {
        --page-width: 42.5rem;
        --page-padding: var(--spacing-md);
    }

    html {
        scroll-padding-top: 4.5rem;
    }

    @media (prefers-reduced-motion: no-preference) {
        html {
            scroll-behavior: smooth;
        }
    }

    body {
        overflow-y: scroll;
        overflow-wrap: break-word;
        hyphens: auto;
        -webkit-hyphens: auto;
        background: var(--color-background);
        line-height: 1.5;
        font-size: var(--body-md);
        font-family: var(--font-primary);
    }

    main {
        --header-height: calc(calc(2 * var(--layout-xl)) + calc(2 * var(--spacing-md)) + calc(1.5 * var(--body-lg)));

        padding: 0 var(--page-padding);
        padding-bottom: var(--header-height);
        max-width: var(--page-width);
        margin: auto;
    }
</style>
