---
import Head from "@components/Head.astro";
import BreadcrumbNavigation from "@components/BreadcrumbNavigation.astro";

import "@styles/fonts.css";
import "@styles/spacing.css";
import "@styles/base.css";
import "@styles/links.css";
import "@styles/text.css";
import "@styles/navigation.css";
import "@styles/code.css";
import "@styles/tables.css";
import "@styles/misc.css";
import "@styles/colors.css";

interface Props {
    title: string;
    description: string;
}
---

<!doctype html>
<html lang="en">
    <Head {...Astro.props} />
    <body>
        <BreadcrumbNavigation />
        <main>
            <slot />
        </main>
    </body>
</html>

<style>
    html {
        scroll-padding-top: 4.5rem;
    }

    @media (prefers-reduced-motion: no-preference) {
        html {
            scroll-behavior: smooth;
        }
    }

    body {
        margin: auto;
        padding: 0 var(--spacing-md);
        overflow-y: scroll;
        overflow-wrap: break-word;
        hyphens: auto;
        -webkit-hyphens: auto;
        max-width: 42.5rem;
        background: var(--color-background);
        line-height: 1.5;
        font-size: var(--body-md);
        font-family: var(--font-primary);
    }

    main {
        /* Make whitespace below main content same as <BreadcrumbNavigation> height:

                             ┌ margin-above ┐   ┌ padding-above ┐   ┌ line-height*font-size ┐    ┌ padding-below ┐   ┌ margin-below ┐ */
        padding-bottom: calc(var(--layout-xl) + var(--spacing-md) + calc(1.5 * var(--body-lg)) + var(--spacing-md) + var(--layout-xl));
    }
</style>
