---
import Head from './Head.astro';
import Header from './Header.astro';

interface Props {
    title: string;
    description: string;
    h1?: string;
}

const { title, description, h1 } = Astro.props;

import '@fontsource/source-serif-pro/400.css';
import '@fontsource/source-serif-pro/700.css';
import '@fontsource/source-serif-pro/900.css';
import '@fontsource/source-serif-pro/400-italic.css';
import '@fontsource/source-serif-pro/700-italic.css';
import '@fontsource/source-serif-pro/900-italic.css';
import '@fontsource/courier-prime/400.css';
import '@fontsource/courier-prime/700.css';
import '@fontsource/courier-prime/400-italic.css';
import '@fontsource/courier-prime/700-italic.css';
---

<!doctype html>
<html lang="en">
    <Head title={title} description={description}/>
    <body>
        <Header />
        <main>
            <h1>{h1 ? h1 : title}</h1>
            <slot />
        </main>
    </body>
</html>

<style is:global>
    :root {
        --color-foreground: #000;
        --color-background: #fff;
        /* Mozilla Light Gray 10 */
        --color-surface: #f9f9fb;
        /* Mozilla Light Gray 20 */
        --color-overlay: #f0f0f4;

        --border-radius-xs: 2px;
        --border-radius-sm: 5px;

        --spacing-xs: calc(var(--spacing-sm) / 1.618);
        --spacing-sm: calc(var(--spacing-md) / 1.618);
        --spacing-md: var(--body-md);
        --spacing-lg: calc(var(--spacing-md) * 1.618);

        --layout-md: 3rem;
        --layout-lg: 4rem;
        --layout-xl: 6rem;
        --layout-2xl: 12rem;

        --title-sm: calc(var(--body-md) * 1.4);
        --title-md: calc(var(--title-sm) * 1.4);
        --title-lg: calc(var(--title-md) * 1.4);

        --body-xs: calc(var(--body-sm) / 1.125);
        --body-sm: calc(var(--body-md) / 1.125);
        --body-md: 1.125rem;
        --body-lg: calc(var(--body-md) * 1.125);

        --font-primary: "Source Serif Pro", serif;
        --font-heading: "Source Serif Pro", serif;
        --font-mono: "Courier Prime", monospace;
    }

    @media (prefers-color-scheme:dark) {
        :root {
            --color-foreground: #fff;
            --color-background: #000;
            /* Mozilla Dark Gray 80 */
            --color-surface: #1c1b22;
            /* Mozilla Dark Gray 70 */
            --color-overlay: #2b2a33;
        }
    }

    * {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        color: var(--color-foreground);
    }

    ::selection {
        color: var(--color-background);
        background-color: var(--color-foreground);
    }

    body {
        overflow-y: scroll;
        overflow-wrap: break-word;
        hyphens: auto;
        -webkit-hyphens: auto;
        margin: auto;
        max-width: 70ch;
        padding: 0 var(--spacing-md);
        background: var(--color-background);
        line-height: 1.5;
        font-size: var(--body-md);
        font-family: var(--font-primary);
    }

    main {
        padding-bottom: var(--layout-2xl);
    }

    h1, h2, h3 {
        font-family: var(--font-primary);
        margin: calc(var(--body-md) * 2) 0 var(--body-md);
        hyphens: none;
    }

    h1,
    h2 {
        line-height: 1;
    }

    h3 {
        line-height: 1.2;
        font-weight: 700;
    }

    h1 {
        font-size: var(--title-lg);
        font-weight: 900;
    }

    h2 {
        font-size: var(--title-md);
        font-weight: 700;
    }

    h3 {
        font-size: var(--title-sm);
    }

    p {
        text-align: justify;
    }

    @media screen and (max-width: 450px) {
        p {
            font-size: var(--body-sm);
            text-align: start;
        }

        h1 {
            font-size: var(--title-md);
        }

        h2 {
            font-size: var(--title-sm);
        }

        h3 {
            font-size: var(--body-lg);
        }
    }

    :focus {
        outline: 2px solid var(--color-foreground);
    }

    :focus:not(:focus-visible) {
        outline: none;
    }

    a,
    a:visited {
        font-weight: 700;
        text-decoration-thickness: 1.2px;
    }

    a::before {
        display: inline-block;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    ol,
    ul {
        padding-left: var(--spacing-lg);
    }

    p:not(:last-child),
    ol:not(:last-child),
    ul:not(:last-child),
    blockquote:not(:last-child),
    pre:not(:last-child) {
        margin-bottom: var(--spacing-md);
    }

    blockquote {
        padding: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-md);
        border-left: var(--spacing-sm) solid var(--color-foreground);
    }

    em,
    blockquote p {
        font-style: italic;
    }


    hr {
        margin: var(--spacing-lg) 0 var(--spacing-md);
        border: 1px solid var(--color-foreground);
    }

    code,
    kbd {
        padding: 0 var(--spacing-xs);
        border-radius: var(--border-radius-sm);
        background-color: var(--color-overlay);
        font-size: var(--body-xs);
        font-family: var(--font-mono);
    }

    pre {
        background-color: transparent !important;
    }

    pre code {
        overflow: auto;
        background-color: var(--color-surface);
        display: block;
        padding: var(--spacing-md);
        border-radius: var(--border-radius-xs);
    }

    kbd {
        min-width: 1.3rem;
        text-align: center;
        font-weight: 700;
        box-shadow: 1px 1px 0 0 var(--color-foreground);
    }

    a[href^="http"]::after {
        content: url("/svg/external-link.svg");
    }

    a[href^="#"]:not([href^="#user-content-fn"])::before {
        content: "ยง";
    }

    a[href^="#user-content-fn"] {
        text-decoration: none;
    }

    a[href^="#user-content-fn"]:not([href^="#user-content-fnref"])::before {
        content: "[";
    }

    a[href^="#user-content-fn"]:not([href^="#user-content-fnref"])::after {
        content: "]";
    }

    span[style^="color:var(--astro-code-token-keyword)"] {
        font-weight: 700;
    }

    span[style^="color:var(--astro-code-token-function)"] {
        font-weight: 700;
    }

    span[style^="color:var(--astro-code-token-comment)"] {
        font-style: italic;
    }
</style>
