---
interface Props {
title: string;
maturity: string;
homepage?: boolean;
overview?: boolean;
h1?: string;
}

const frontmatter = Astro.props;
import '../styles/styles.css';
import { AstroFont } from 'astro-font';
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Thimo van Velzen">
        <meta name="keywords" content="HTML, CSS, Astro, digital-garden, garden, wiki, second-brain, minimalist, simple">
        <meta name="description" content="The digital garden of a minimalist">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{frontmatter.title}</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <AstroFont
          config={[
            {
              src: [],
              preload: false,
              display: "swap",
              fallback: "sans-serif",
              name: "JetBrains Mono",
              cssVariable: "font-mono",
              googleFontsURL: 'https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800',
            },
            {
                src: [],
                preload: false,
                display: "swap",
                fallback: "serif",
                name: "Roboto Slab",
                cssVariable: "font-primary",
                googleFontsURL: 'https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900',
            },
            {
              src: [],
              preload: false,
              display: "swap",
              fallback: "serif",
              name: "Zilla Slab",
              cssVariable: "font-secondary",
              googleFontsURL: 'https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700',
            },
          ]}
        />
    </head>
    <body>
        <header>
            <nav>
                <ol>
                    <li><a href="index.html">th7mo</a></li>
                    {!frontmatter.homepage && <li><a href="overview.html">garden</a></li>}
                    {!frontmatter.homepage && !frontmatter.overview &&
                        <li class={frontmatter.maturity}>{frontmatter.title.toLowerCase()}</li>
                    }
                </ol>
            </nav>
        </header>
        <main>
            <h1>{frontmatter.h1 ? frontmatter.h1 : frontmatter.title}</h1>
            <slot />
        </main>
    </body>
</html>
