---
import Head from './Head.astro';
import Breadcrumb from './Breadcrumb.astro';

import '../styles/variables.css';
import '../styles/base.css';
import '../styles/links.css';
import '../styles/headings.css';
import '../styles/code.css';
import '../styles/misc.css';

import '@fontsource-variable/playfair-display';

import '@fontsource/source-serif-pro/400.css';
import '@fontsource/source-serif-pro/700.css';
import '@fontsource/source-serif-pro/400-italic.css';
import '@fontsource/source-serif-pro/700-italic.css';

import '@fontsource/courier-prime/400.css';
import '@fontsource/courier-prime/700.css';
import '@fontsource/courier-prime/400-italic.css';
import '@fontsource/courier-prime/700-italic.css';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head title={title} description={description}/>
    <body>
        <Breadcrumb />
        <main>
            <slot />
        </main>
    </body>
</html>

<style>
    body {
        overflow-y: scroll;
        overflow-wrap: break-word;
        hyphens: auto;
        -webkit-hyphens: auto;
        margin: auto;
        max-width: 75ch;
        padding: 0 var(--spacing-md);
        background: var(--color-background);
        line-height: 1.5;
        font-size: var(--body-md);
        font-family: var(--font-primary);
    }

    main {
        padding-bottom: var(--layout-2xl);
    }
</style>
