---
import Head from './Head.astro';
import Header from './Header.astro';

interface Props {
    title: string;
    h1?: string;
}

const { title, h1 } = Astro.props;
import '@fontsource/zilla-slab/500.css';
import '@fontsource/zilla-slab/500-italic.css';
import '@fontsource/zilla-slab/700.css';
import '@fontsource-variable/jetbrains-mono';
import '@fontsource-variable/inter';
import '@fontsource-variable/inter/slnt.css';
---

<!doctype html>
<html lang="en">
    <Head title={title} />
    <body>
        <Header />
        <main>
            <h1>{h1 ? h1 : title}</h1>
            <slot />
        </main>
    </body>
</html>

<style is:global>
    :root {
        /* Mozilla Black */
        --color-foreground: #000;
        /* Mozilla White */
        --color-background: #fff;
        /* Mozilla Light Gray 10 */
        --color-surface: #f9f9fb;
        /* Mozilla Light Gray 20 */
        --color-overlay: #f0f0f4;

        --border-radius-xs: 2px;
        --border-radius-sm: 5px;

        --spacing-xs: 0.25rem;
        --spacing-sm: 0.5rem;
        --spacing-md: 1rem;
        --spacing-lg: 2rem;

        --layout-md: 3rem;
        --layout-lg: 4rem;
        --layout-xl: 6rem;
        --layout-2xl: 12rem;

        --title-3xs: 1.125rem;
        --title-2xs: 1.5rem;
        --title-xs: 1.75rem;
        --title-md: 3rem;
        --title-lg: 3.5rem;

        --body-xs: 0.75rem;
        --body-sm: 0.875rem;
        --body-md: 1rem;
        --body-lg: 1.125rem;

        --screen-xs: 320px;
        --screen-sm: 450px;

        --font-primary: "Inter Variable", sans-serif;
        --font-secondary: "Zilla Slab", serif;
        --font-mono: "JetBrains Mono Variable", monospace;
    }

    @media (prefers-color-scheme:dark) {
        :root {
            /* Mozilla White */
            --color-foreground: #fff;
            /* Mozilla Black */
            --color-background: #000;
            /* Mozilla Dark Gray 80 */
            --color-surface: #1c1b22;
            /* Mozilla Dark Gray 70 */
            --color-overlay: #2b2a33;
        }
    }

    * {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        color: var(--color-foreground);
    }

    a::before {
        display: inline-block;
        text-decoration: none;
    }

    ::selection {
        color: var(--color-background);
        background-color: var(--color-foreground);
    }

    body {
        overflow-wrap: break-word;
        hyphens: auto;
        -webkit-hyphens: auto;
        margin: auto;
        max-width: 75ch;
        padding: 0 var(--spacing-md);
        background: var(--color-background);
        line-height: 1.5;
        font-size: var(--body-md);
        font-family: var(--font-primary);
    }

    main {
        margin-bottom: var(--layout-2xl);
        padding: var(--layout-lg) var(--layout-md);
        background-color: var(--color-surface);
        border-radius: var(--border-radius-sm);
    }

    @media screen and (max-width: 450px) {
        main {
            padding: var(--layout-lg) var(--spacing-md);
        }
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: var(--font-secondary);
    }

    h1,
    h2 {
        line-height: 1;
    }

    h3,
    h4 {
        margin: var(--spacing-md) 0 var(--spacing-sm);
        line-height: 1.2;
    }

    h1 {
        margin-bottom: var(--layout-md);
        font-size: var(--title-md);
    }

    h2 {
        font-size: var(--title-xs);
        margin: var(--spacing-lg) 0 var(--spacing-md);
    }

    h3 {
        font-size: var(--title-2xs);
    }

    h4 {
        font-size: var(--title-3xs);
    }

    :focus {
        outline: 2px solid var(--color-foreground);
    }

    :focus:not(:focus-visible) {
        outline: none;
    }

    a,
    a:visited {
        font-weight: 700;
    }

    a:hover {
        text-decoration: none;
    }

    ol,
    ul {
        padding-left: var(--spacing-lg);
    }

    p:not(:last-child),
    ol:not(:last-child),
    ul:not(:last-child),
    blockquote:not(:last-child),
    pre:not(:last-child) {
        margin-bottom: var(--spacing-md);
    }

    blockquote {
        padding: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-md);
        border-left: var(--spacing-sm) solid var(--color-foreground);
    }

    em,
    blockquote p {
        font-style: italic;
        font-weight: 500;
        font-size: var(--body-lg);
        font-family: var(--font-secondary);
    }


    hr {
        margin: var(--spacing-lg) 0 var(--spacing-md);
        border: 1px solid var(--color-foreground);
    }

    code,
    kbd {
        padding: 0 var(--spacing-xs);
        display: inline-block;
        border-radius: var(--border-radius-sm);
        background-color: var(--color-overlay);
        font-size: var(--body-sm);
        font-family: var(--font-mono);
    }

    pre code {
        overflow: auto;
        background-color: var(--color-overlay);
        display: block;
        padding: var(--spacing-md);
        border-radius: var(--border-radius-xs);
    }

    kbd {
        min-width: 1.3rem;
        text-align: center;
        font-weight: bold;
        box-shadow: 1px 1px 0 0 var(--color-foreground);
    }

    .seedling::before,
    .budding::before,
    .evergreen::before {
        padding-right: var(--spacing-sm);
    }

    .seedling::before {
        content: url("/svg/seedling.svg");
    }

    .budding::before {
        content: url("/svg/budding.svg");
    }

    .evergreen::before {
        content: url("/svg/evergreen.svg");
    }

    a[href^="http"]::after {
        content: url("/svg/external-link.svg");
    }

    a[href^="#"]:not([href^="#user-content-fn"])::before {
        content: "ยง";
    }

    a[href^="#user-content-fn"] {
        text-decoration: none;
    }

    a[href^="#user-content-fn"]:not(a[href^="#user-content-fnref"])::before {
        content: "[";
    }

    a[href^="#user-content-fn"]:not(a[href^="#user-content-fnref"])::after {
        content: "]";
    }

    a:not(nav a):not(sup a):not([href^="http"])::before {
        padding-right: var(--spacing-xs);
    }
</style>
