---
import Head from './Head.astro';
import Header from './Header.astro';

interface Props {
    title: string;
    h1?: string;
}

const { title, h1 } = Astro.props;
import '@fontsource-variable/jetbrains-mono';
import '@fontsource/gentium-book-plus/400.css';
import '@fontsource/gentium-book-plus/700.css';
---

<!doctype html>
<html lang="en">
    <Head title={title} />
    <body>
        <Header />
        <main>
            <h1>{h1 ? h1 : title}</h1>
            <slot />
        </main>
    </body>
</html>

<style is:global>
    :root {
        /* Mozilla Black */
        --color-foreground: #000;
        /* Mozilla White */
        --color-background: #fff;
        /* Mozilla Light Gray 10 */
        --color-surface: #f9f9fb;
        /* Mozilla Light Gray 20 */
        --color-overlay: #f0f0f4;

        --border-radius-xs: 2px;
        --border-radius-sm: 5px;

        --spacing-xs: 0.25rem;
        --spacing-sm: 0.5rem;
        --spacing-md: 1rem;
        --spacing-lg: 2rem;

        --layout-md: 3rem;
        --layout-lg: 4rem;
        --layout-xl: 6rem;
        --layout-2xl: 12rem;

        --title-3xs: 1.125rem;
        --title-2xs: 1.5rem;
        --title-xs: 1.75rem;
        --title-md: 3rem;
        --title-lg: 3.5rem;

        --body-xs: 0.75rem;
        --body-sm: 0.875rem;
        --body-md: 1rem;
        --body-lg: 1.125rem;


        --body-custom: 1.25rem;
        --font-primary: "Gentium Book Plus", sans-serif;
        --font-mono: "JetBrains Mono Variable", monospace;
    }

    @media (prefers-color-scheme:dark) {
        :root {
            /* Mozilla White */
            --color-foreground: #fff;
            /* Mozilla Black */
            --color-background: #000;
            /* Mozilla Dark Gray 80 */
            --color-surface: #1c1b22;
            /* Mozilla Dark Gray 70 */
            --color-overlay: #2b2a33;
        }
    }

    span[style^="color:var(--astro-code-token-keyword)"] {
        font-weight: 800;
    }

    span[style^="color:var(--astro-code-token-function)"] {
        font-weight: 800;
    }

    span[style^="color:var(--astro-code-token-comment)"] {
        font-style: italic;
    }

    * {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        color: var(--color-foreground);
    }

    a::before {
        display: inline-block;
        text-decoration: none;
    }

    ::selection {
        color: var(--color-background);
        background-color: var(--color-foreground);
    }

    body {
        overflow-wrap: break-word;
        hyphens: auto;
        -webkit-hyphens: auto;
        margin: auto;
        max-width: 65ch;
        padding: 0 var(--spacing-md);
        background: var(--color-background);
        line-height: 1.5;
        font-size: var(--body-custom);
        font-family: var(--font-primary);
    }

    main {
        padding-bottom: var(--layout-2xl);
    }

    h1,
    h2 {
        margin: calc(2 * var(--body-custom)) 0 var(--body-custom);
        line-height: 1;
    }

    h3,
    h4 {
        margin: var(--spacing-md) 0 var(--spacing-sm);
        line-height: 1.2;
    }

    h1 {
        font-size: var(--title-lg);
    }

    h2 {
        font-size: var(--title-xs);
    }

    h3 {
        font-size: var(--title-2xs);
    }

    h4 {
        font-size: var(--title-3xs);
    }

    p {
        text-align: justify;
    }

    @media screen and (max-width: 450px) {
        p {
            text-align: start;
        }
    }

    :focus {
        outline: 2px solid var(--color-foreground);
    }

    :focus:not(:focus-visible) {
        outline: none;
    }

    a,
    a:visited {
        font-weight: bold;
        text-decoration-thickness: 1.2px;
    }

    a:hover {
        text-decoration: none;
    }

    ol,
    ul {
        padding-left: var(--spacing-lg);
    }

    p:not(:last-child),
    ol:not(:last-child),
    ul:not(:last-child),
    blockquote:not(:last-child),
    pre:not(:last-child) {
        margin-bottom: var(--spacing-md);
    }

    blockquote {
        padding: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-md);
        border-left: var(--spacing-sm) solid var(--color-foreground);
    }

    em,
    blockquote p {
        font-style: italic;
    }


    hr {
        margin: var(--spacing-lg) 0 var(--spacing-md);
        border: 1px solid var(--color-foreground);
    }

    code,
    kbd {
        padding: 0 var(--spacing-xs);
        border-radius: var(--border-radius-sm);
        background-color: var(--color-overlay);
        font-size: var(--body-sm);
        font-family: var(--font-mono);
    }

    pre {
        background-color: transparent !important;
    }

    pre code {
        overflow: auto;
        background-color: var(--color-surface);
        display: block;
        padding: var(--spacing-md);
        border-radius: var(--border-radius-xs);
    }

    kbd {
        min-width: 1.3rem;
        text-align: center;
        font-weight: bold;
        box-shadow: 1px 1px 0 0 var(--color-foreground);
    }

    a[href^="http"]::after {
        content: url("/svg/external-link.svg");
    }

    a[href^="#"]:not([href^="#user-content-fn"])::before {
        content: "ยง";
    }

    a[href^="#user-content-fn"] {
        text-decoration: none;
    }

    a[href^="#user-content-fn"]:not(a[href^="#user-content-fnref"])::before {
        content: "[";
    }

    a[href^="#user-content-fn"]:not(a[href^="#user-content-fnref"])::after {
        content: "]";
    }
</style>
